<footer>
    <div class="container">
        <div class="units-row">
            {#<div class="unit-50">
                <button class="btn btn-black"><i class="fa fa-arrow-left"></i> PREVIOUS</button>
            </div>#}
            {#			    <div class="unit-50">#}
            {% if config.social is defined %}
                <div class="unit-100">
                    <ul class="social list-flat right">
                        {% for key, media in config.social %}
                        <li><a href="{{ media }}"><i class="fa fa-{{ key }}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <p class="text-centered foot-cp">
            Inspired in <a href="#">handcrafted by @flamekaizar</a>
        </p>
    </div>
</footer>

<!-- Javascript -->
<script src="{{ config.site.urlBase }}/js/jquery.min.js"></script>
<script src="{{ config.site.urlBase }}/js/kube.min.js"></script>
{% if config.disqus is defined %}
    {% include 'partials/disqus.twig' %}
{% endif %}
</body>
</html>